.App-link {
  color: #61dafb;
}

#container {
  position: relative;
  min-height: 100vh;
  background-color: whitesmoke;
  color: #2c2926;
  padding-bottom: 2rem;
}

#navbar {
  background-color: #dbdbdb;
}

#logo {
  height: 5rem;
}
#link {
  color: #2c2926;
}

#button {
  background-color: white;
  color: #21468a;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

#footer-container {
  background-color: #bd3430;
  height: 4.5rem;
  font-size: 12px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.p {
  color: #2c2926;
}

@media (max-width: 481px) {
  #link {
    font-size: 12px;
  }
  #button-group {
    flex-direction: column;
  }
}
